.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: rgb(59, 43, 73) !important;
  }

.fatto {
text-align: center;
}
.portfolio-modal .modal-content {
padding-top: 6rem;
padding-bottom: 6rem;
text-align: justify; }


#BARRA {
    overflow: auto;
    overflow-x: hidden;
    height: 540px;
    width: auto;
    margin: 0px;
    padding: 2px;
    scrollbar-base-color: #000000;
    scrollbar-arrow-color: #CCCCCC;
    scrollbar-track-color: #3c2d47;
  }

.ciao {
text-align: center;

}

.overflow-text {
width: 300px;
height: 100px;
margin-top:20px;
padding: 10px;
background: #eee;    
border: 1px solid #ccc;
overflow: scroll;      
}

.eh {
  text-align: center;
}


.page-section {
padding: 3.2rem;
}
.documento {
font-size: 1.1rem;
line-height: 1.75;
}